body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo {
    width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1 {
    color: #333;
}

.shop-now {
    padding: 10px 20px;
    background-color: #28a745; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition effect */
}
.produk-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}
.produk-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px; 
    text-align: center;
    margin: 10px; 
    transition: transform 0.2s; 
}

.intro{
    text-align: center;
    padding: 20px 10px;
    color: white;
}

.video{
    text-align: center;
}

.produk-item:hover {
    transform: scale(1.05); 
}

.produk-item img {
    width: 100%; 
    height: 150px; 
    object-fit: cover;     
    border-radius: 5px 5px 0 0; }
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
